<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Search Your Farmer </title>

    <!-- Font Icon -->
    <link rel="stylesheet" href="/fonts/material-icon/css/material-design-iconic-font.min.css">

    <!-- Main css -->
    <link rel="stylesheet" href="/css/style2.css">
</head>
<body>
   


    <div class="main">

        <!-- Sign up form -->
        <section class="signup">
            <div style="box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;" class="container">
                <div class="signup-content">
                    <div class="signup-form">
                        <h2 class="form-title">Search Your Farmer</h2>
                        <form method="POST" action="/search" class="register-form" id="register-form">
                            <div class="form-group">
                                <label for="name"><i class="zmdi zmdi-account material-icons-name"></i></label>
                                <input type="text" name="f" id="f" placeholder="Your Farmer's name" required /> <!--post route point-->
                            </div>
                            <div class="form-group">
                                <label for="call"><i class="zmdi zmdi-email"></i></label>
                                <input type="text" name="c" id="c" placeholder="Your Entry key" required /> <!--post route point-->
                            </div>
                            
                            
                            <div class="form-group form-button">
                                <input type="submit" name="signup" id="signup" class="form-submit" value="Register"/>
                            </div>
                        </form>
                    </div>
                    <div class="signup-image">
                        <figure><img src="/images/signup-image.jpg" alt="sing up image"></figure>
                        <a href="/safetracker.ejs" class="signup-image-link">go back</a>
                    </div>
                </div>
            </div>
        </section>

        

    </div>

    <!-- JS -->
    <script src="public/vendor/jquery/jquery.min.js"></script>
    
</body>
</html>